{% extends 'base.html' %}
{% load static %}
{% block title %}
Events
{% endblock %}

{% block content %}
<style>
    body{
        background-color: #f5f5f5; /* Light gray background */
        padding: 0;
        margin: 0; /* Add some space at the top */
    }
    .event-card {
        margin-bottom: 35px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
        border-radius: 10px; 
        overflow: hidden; /* Hide overflowing content */
    }
    .events-heading {
        font-size: 36px;
        font-weight: bold;
        color: #4CAF50; /* Green text */
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        padding: 10px; 
    }
    h5{
        font-weight: bold;
    }
    .card-img-top {
        border-radius: 10px 10px 0 0; /* Rounded corners only on top */
        object-fit: cover; /* Cover image proportionally */
        height: 160px; /* Set a fixed height for consistency */
        width: 100%; /* Image width to cover entire card */
    }
    .card-title {
        padding: 10px; 
        margin: 0; /* Remove default margin */
        color: #fff; /* White text */
        background-color: #4CAF50; /* Green background */
        border-radius: 0 0 10px 10px; /* Rounded corners only on bottom */
    }
    .card-text {
        padding: 10px; 
        margin: 0; /* Remove default margin */
        color: #333; /* Dark text */
        background-color: rgba(179, 213, 245, 0.808); /* White background */
    }
    .book-btn {
        display: block; /* Convert to block to occupy full width */
        text-align: center; /* Center align text */
        background-color: #4CAF50; /* Green background */
        color: #fff; /* White text */
        border: none; /* Remove border */
        border-radius: 0; /* Remove border radius */
        padding: 8px; /* Add padding */
        text-decoration: none; /* Remove underline */
        transition: background-color 0.3s; /* Smooth transition on hover */
    }
    .book-btn:hover {
        background-color: #45a049; /* Darker green on hover */
    }
    .card{
        border: 2px solid black;
    }
</style>
<h2 class="events-heading">Discover Our Latest Events</h2>
<div class="container">
    <div class="row">
        {% for i in eve %}
        <div class="col-md-3 mb-4">
            <div class="card event-card">
                <img src="{{ i.img.url }}" class="card-img-top" alt="Event Image">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.desc }}</p>
                    <a href="{% url 'booking' %}" class="book-btn">Book Now</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
